.home-container{
    background-color: #EEEEEE;
}
.home-container::before{
    content: " ";
    display: block;
    background-color: #2E3840;
    width: 100%;
    height: 1px;
}

.heading{
    color:#4E6E81;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.component-wrapper{
    position: relative;
    display: flex;
}
